services:
  healthchecks:
    image: linuxserver/healthchecks:4.0.20260126@sha256:e288a3b73a2760b82547d7f798c38afd5115c31c58db58f3b709108cfaf37374
    container_name: healthchecks
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Amsterdam
      - SITE_ROOT=https://healthchecks.${DOMAIN}
      - SITE_NAME=${HEALTHCHECKS_SITE_NAME}
      - SUPERUSER_EMAIL=${SUPERUSER_EMAIL}
      - SUPERUSER_PASSWORD=${SUPERUSER_PASSWORD}
      - APPRISE_ENABLED=True #optional
      - INTEGRATIONS_ALLOW_PRIVATE_IPS=True
      - ALLOWED_HOSTS=*
      - DEBUG=False
    volumes:
      - ${DOCKER_DATA_DIR}/healthchecks/config:/config
    #    ports:
    #      - 8000:8000
    #      - 2525:2525 #optional
    restart: unless-stopped
    networks:
      - npm
    labels:
      - homepage.group=Infra
      - homepage.name=Healthchecks
      - homepage.icon=healthchecks.png
      - homepage.href=http://healthchecks.${DOMAIN}/
      - homepage.description=Open-source cron job and background task monitoring
        service
      - homepage.widget.type=healthchecks
      - homepage.widget.url=http://healthchecks:8000
      - homepage.widget.key=${HEALTHCHECKS_API}
      - traefik.enable=true
      - traefik.http.routers.healthchecks.rule=Host(`healthchecks.${DOMAIN}`)
      - traefik.http.routers.healthchecks.entrypoints=websecure
      - traefik.http.routers.healthchecks.tls=true
      - traefik.http.services.healthchecks.loadbalancer.server.port=8000
networks:
  npm:
    external: true