services:
  dispatcharr:
    image: ghcr.io/dispatcharr/dispatcharr:0.20.1@sha256:db8a9d336e2ab93aca940d18c4d91355edecc00d600adcca86d1f566ab86e6a2
    container_name: dispatcharr
    ports:
      - 9191:9191
    volumes:
      - dispatcharr_data:/data
    environment:
      - DISPATCHARR_ENV=aio
      - REDIS_HOST=localhost
      - CELERY_BROKER_URL=redis://localhost:6379/0
      - DISPATCHARR_LOG_LEVEL=info
    devices:
      - /dev/dri/:/dev/dri/
    networks:
      my-macvlan-net:
        ipv4_address: ${DISPATCHARR_IP}
      npm: null
    labels:
      - homepage.group=Media
      - homepage.name=Dispatcharr
      - homepage.icon=dispatcharr.png
      - homepage.href=https://dispatcharr.${DOMAIN}/
      - homepage.description=IPTV streaming playlist editor and proxy
      - homepage.widget.type=dispatcharr
      - homepage.widget.url=http://dispatcharr:9191
      - homepage.widget.username=${DISPATCHARR_USER}
      - homepage.widget.password=${DISPATCHARR_PASS}
      - traefik.enable=true
      - traefik.docker.network=npm
      - traefik.http.routers.dispatcharr.rule=Host(`dispatcharr.${DOMAIN}`)
      - traefik.http.routers.dispatcharr.entrypoints=websecure
      - traefik.http.routers.dispatcharr.tls=true
      - traefik.http.services.dispatcharr.loadbalancer.server.port=9191
    restart: unless-stopped
volumes:
  dispatcharr_data:
networks:
  npm:
    external: true
  my-macvlan-net:
    external: true