services:
  sonarr:
    image: linuxserver/sonarr:4.0.16@sha256:02b4d538d351d6e35882a021c08e8600fe95d28860fb1dd724b597166e7221ca
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Amsterdam
    volumes:
      - ${DOCKER_DATA_DIR}/sonarr/config:/config
      - ${MEDIA_DIR}:/media 
    #    ports:
    #      - 8989:8989
    labels:
      - homepage.group=Media Management
      - homepage.name=Sonarr
      - homepage.icon=sonarr.png
      - homepage.href=http://sonarr.${DOMAIN}/
      - homepage.description=Series management
      - homepage.widget.type=sonarr
      - homepage.widget.url=http://sonarr:8989
      - homepage.widget.key=${SONARR_API}
      - traefik.enable=true
      - traefik.docker.network=npm
      - traefik.http.routers.sonarr-api.rule=Host(`sonarr.${DOMAIN}`) && PathPrefix(`/api`)
      - traefik.http.routers.sonarr-api.entrypoints=websecure
      - traefik.http.routers.sonarr-api.priority=100
      - traefik.http.routers.sonarr-api.tls=true
      - traefik.http.routers.sonarr-api.service=sonarr
      - traefik.http.routers.sonarr.rule=Host(`sonarr.${DOMAIN}`)
      - traefik.http.routers.sonarr.entrypoints=websecure
      - traefik.http.routers.sonarr.priority=99
      - traefik.http.routers.sonarr.tls=true
      - traefik.http.routers.sonarr.middlewares=authentik-forwardauth@docker
      - traefik.http.routers.sonarr.service=sonarr
      - traefik.http.services.sonarr.loadbalancer.server.port=8989
    restart: unless-stopped
    networks:
      - npm
  sonarrexternal:
    image: linuxserver/sonarr:4.0.16@sha256:02b4d538d351d6e35882a021c08e8600fe95d28860fb1dd724b597166e7221ca
    container_name: sonarrexternal
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Amsterdam
    volumes:
      - ${DOCKER_DATA_DIR}/sonarrexternal/config:/config
      - ${MEDIA_DIR}:/media #optional
    #    ports:
    #      - 8989:8989
    labels:
      - homepage.group=Media Management
      - homepage.name=Sonarr external
      - homepage.icon=sonarr.png
      - homepage.href=http://sonarrexternal.${DOMAIN}/
      - homepage.description=Series management
      - homepage.widget.type=sonarr
      - homepage.widget.url=http://sonarrexternal:8989
      - homepage.widget.key=${SONARREXTERNAL_API}
      - traefik.enable=true
      - traefik.docker.network=npm
      - traefik.http.routers.sonarrexternal-api.rule=Host(`sonarrexternal.${DOMAIN}`) && PathPrefix(`/api`)
      - traefik.http.routers.sonarrexternal-api.entrypoints=websecure
      - traefik.http.routers.sonarrexternal-api.priority=100
      - traefik.http.routers.sonarrexternal-api.tls=true
      - traefik.http.routers.sonarrexternal-api.service=sonarrexternal
      - traefik.http.routers.sonarrexternal.rule=Host(`sonarrexternal.${DOMAIN}`)
      - traefik.http.routers.sonarrexternal.entrypoints=websecure
      - traefik.http.routers.sonarrexternal.priority=99
      - traefik.http.routers.sonarrexternal.tls=true
      - traefik.http.routers.sonarrexternal.middlewares=authentik-forwardauth@docker
      - traefik.http.routers.sonarrexternal.service=sonarrexternal
      - traefik.http.services.sonarrexternal.loadbalancer.server.port=8989
    restart: unless-stopped
    networks:
      - npm
networks:
  npm:
    external: true