#
# WARNING: Make sure to use the docker-compose.yml of the current release:
#
# https://github.com/immich-app/immich/releases/latest/download/docker-compose.yml
#
# The compose file on main may not be compatible with the latest release.
#

services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:v2.2.2@sha256:6f57cf359f57f05c89238680b39ca7cd0e135477e11247ad4beb02cc740bbfda
    environment:
      - TZ=Europe/Amsterdam
      - UPLOAD_LOCATION=${UPLOAD_LOCATION}
      - DB_DATA_LOCATION=${DB_DATA_LOCATION}
      - IMMICH_VERSION=${IMMICH_VERSION}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_USERNAME=${DB_USERNAME}
      - DB_DATABASE_NAME=${DB_DATABASE_NAME}
    devices:
      - /dev/dri:/dev/dri
    networks:
      - npm
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    #    ports:
    #      - 2283:2283
    depends_on:
      - redis
      - database
    labels:
      - homepage.group=Media
      - homepage.name=Immich
      - homepage.icon=immich.png
      - homepage.href=http://photos.${DOMAIN}/
      - homepage.description=Photo server
      - homepage.widget.type=immich
      - homepage.widget.version=2
      - homepage.widget.fields=["photos", "storage"]
      - homepage.widget.url=http://immich-server:2283
      - homepage.widget.key=${IMMICH_API}
      - traefik.http.routers.immich.rule=Host(`photos.${DOMAIN}`)
      - traefik.enable=true
      - traefik.docker.network=npm
      - traefik.http.routers.immich.entrypoints=websecure
      - traefik.http.routers.immich.tls=true
      - traefik.http.services.immich.loadbalancer.server.port=2283
    restart: always
  immich-machine-learning:
    container_name: immich_machine_learning
    #    runtime: nvidia
    #    environment:
    #      - NVIDIA_VISIBLE_DEVICES=all
    #      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
    # For hardware acceleration, add one of -[armnn, cuda, openvino] to the image tag.
    # Example tag: ${IMMICH_VERSION:-release}-cuda
    image: ghcr.io/immich-app/immich-machine-learning:v2.2.2@sha256:848b097e1250695ceaa371824b441356847140328bcfb921bdd5e3459878d535
    networks:
      - npm
    environment:
      - TZ=Europe/Amsterdam
      #    extends:
      # uncomment this section for hardware acceleration - see https://immich.app/docs/features/ml-hardware-acceleration
      #      file: hwaccel.ml.yml
      #      service: cuda # set to one of [armnn, cuda, openvino, openvino-wsl] for accelerated inference - use the `-wsl` version for WSL2 where applicable
    volumes:
      - model-cache:/cache
    restart: always
  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8-bookworm@sha256:a137a2b60aca1a75130022d6bb96af423fefae4eb55faf395732db3544803280
    networks:
      - npm    
    healthcheck:
      test: redis-cli ping || exit 1
  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:32324a2f41df5de9efe1af166b7008c3f55646f8d0e00d9550c16c9822366b4a
    networks:
      - npm
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: --data-checksums
    # Uncomment the DB_STORAGE_TYPE: 'HDD' var if your database isn't stored on SSDs
    # DB_STORAGE_TYPE: 'HDD'
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
    restart: always
volumes:
  model-cache: null
networks:
  npm:
    external: true
