services:
  bambuddy:
    container_name: bambuddy
    image: ghcr.io/maziggy/bambuddy:0.1.9@sha256:ccd21e81a07cbb107eeee37a48d98d65a0706dc8f42ac4fd1ecb71c6be86185f
    environment:
      - TZ=Europe/Amsterdam
      - PORT=8000
    volumes:
      - ${DOCKER_DATA_DIR}/bambuddy/data:/app/data
      - ${DOCKER_DATA_DIR}/bambuddy/logs:/app/logs
    networks:
      my-macvlan-net:
        ipv4_address: ${BAMBUDDY_IP}
      npm: null
    labels:
      - homepage.group=Media
      - homepage.name=BamBuddy
      - homepage.icon=si-bambulab
      - homepage.href=https://bambuddy.${DOMAIN}/
      - homepage.description=Bambu Lab printer companion
      - traefik.enable=true
      - traefik.docker.network=npm
      - traefik.http.routers.bambuddy.rule=Host(`bambuddy.${DOMAIN}`)
      - traefik.http.routers.bambuddy.entrypoints=websecure
      - traefik.http.routers.bambuddy.tls=true
      - traefik.http.services.bambuddy.loadbalancer.server.port=8000
    restart: unless-stopped
networks:
  my-macvlan-net:
    external: true
  npm:
    external: true
