services:
  bambuddy:
    container_name: bambuddy
    image: ghcr.io/maziggy/bambuddy:0.2.1@sha256:e925d0d45f71a2d8eec06187dfa0e91b3bcab3d504e61142719603f0f56738db
    environment:
      - TZ=Europe/Amsterdam
      - PORT=8000
    volumes:
      - ${DOCKER_DATA_DIR}/bambuddy/data:/app/data
      - ${DOCKER_DATA_DIR}/bambuddy/logs:/app/logs
    networks:
      my-macvlan-net:
        ipv4_address: ${BAMBUDDY_IP}
      npm: null
    labels:
      - homepage.group=Media
      - homepage.name=BamBuddy
      - homepage.icon=si-bambulab
      - homepage.href=https://bambuddy.${DOMAIN}/
      - homepage.description=Bambu Lab printer companion
      - traefik.enable=true
      - traefik.docker.network=npm
      - traefik.http.routers.bambuddy.rule=Host(`bambuddy.${DOMAIN}`)
      - traefik.http.routers.bambuddy.entrypoints=websecure
      - traefik.http.routers.bambuddy.tls=true
      - traefik.http.services.bambuddy.loadbalancer.server.port=8000
    restart: unless-stopped
networks:
  my-macvlan-net:
    external: true
  npm:
    external: true
