services:
  opencloud:
    image: opencloudeu/opencloud:4.0.3@sha256:dfd8f64aa059de02b634c84442fc4f2c5685631f232ab0518f1cb1999926b021
    container_name: opencloud
    restart: always
    entrypoint:
      - /bin/sh
    command: ['-c', 'opencloud init || true; opencloud server']
    volumes:
      - ${DOCKER_DATA_DIR}/opencloud/config:/etc/opencloud
      - ${DOCKER_DATA_DIR}/opencloud/data:/var/lib/opencloud
    env_file:
      - ./app.env
    expose:
      - 9200
    dns:
      - ${PIHOLE_IP}
      - 1.1.1.1
    networks:
      - npm

  opencloud-collaboration:
    image: opencloudeu/opencloud:4.0.3@sha256:dfd8f64aa059de02b634c84442fc4f2c5685631f232ab0518f1cb1999926b021
    container_name: opencloud-collaboration
    restart: always
    depends_on:
      opencloud:
        condition: service_started
      opencloud-collabora:
        condition: service_healthy
    entrypoint:
      - /bin/sh
    command: ['-c', 'opencloud collaboration server']
    env_file:
      - ./collaboration.env
    volumes:
      - ${DOCKER_DATA_DIR}/opencloud/config:/etc/opencloud
    expose:
      - 9300
    networks:
      - npm
    dns:
      - ${PIHOLE_IP}
      - 1.1.1.1      

  opencloud-collabora:
    image: collabora/code:25.04.9.2.1@sha256:cfbf62dbed7f3a2bebeb634235c606613813a1857f85111da3a97db316029bba
    container_name: opencloud-collabora
    restart: always
    entrypoint: ['/bin/bash', '-c']
    command: ['coolconfig generate-proof-key && /start-collabora-online.sh']
    cap_add:
      - MKNOD
    env_file:
      - ./collabora.env
    expose:
      - 9980
    networks:
      - npm
    dns:
      - ${PIHOLE_IP}
      - 1.1.1.1      
    healthcheck:
      test:
        [
          'CMD',
          'bash',
          '-c',
          "exec 3<>/dev/tcp/127.0.0.1/9980 && echo -e 'GET /hosting/discovery HTTP/1.1\r\nHost: localhost:9980\r\n\r\n' >&3 && head -n 1 <&3 | grep '200 OK'",
        ]

networks:
  npm:
    external: true