services:
  prowlarr:
    image: 11notes/prowlarr:2.3.0@sha256:46e0ca1a9117eff5c0b09029a93244d1e81828d562ae2153631a748e88394988
    container_name: prowlarr
    read_only: true
    tmpfs:
      - /tmp:uid=${PUID},gid=${PGID}
    environment:
      TZ: Europe/Amsterdam
    user: ${PUID}:${PGID}
    volumes:
      - ${DOCKER_DATA_DIR}/prowlarr/config:/prowlarr/etc
    #    ports:
    #      - 9696:9696
    labels:
      - homepage.group=Media Management
      - homepage.name=Prowlarr
      - homepage.icon=prowlarr.png
      - homepage.href=http://prowlarr.${DOMAIN}/
      - homepage.description=Indexer management
      - homepage.widget.type=prowlarr
      - homepage.widget.fields=["numberOfGrabs", "numberOfQueries"]
      - homepage.widget.url=http://prowlarr:9696
      - homepage.widget.key=${PROWLARR_API}
      - tsbridge.enabled=true
      - tsbridge.service.name=prowlarr
      - tsbridge.service.port=9696
      - traefik.enable=true
      - traefik.docker.network=npm
      - traefik.http.routers.prowlarr-api.rule=Host(`prowlarr.${DOMAIN}`) && PathPrefix(`/api`)
      - traefik.http.routers.prowlarr-api.entrypoints=websecure
      - traefik.http.routers.prowlarr-api.priority=100
      - traefik.http.routers.prowlarr-api.tls=true
      - traefik.http.routers.prowlarr-api.service=prowlarr
      - traefik.http.routers.prowlarr.rule=Host(`prowlarr.${DOMAIN}`)
      - traefik.http.routers.prowlarr.entrypoints=websecure
      - traefik.http.routers.prowlarr.priority=99
      - traefik.http.routers.prowlarr.tls=true
      - traefik.http.routers.prowlarr.middlewares=authentik-forwardauth@docker
      - traefik.http.routers.prowlarr.service=prowlarr
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696
    restart: unless-stopped
    networks:
      - npm
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://127.0.0.1:9696/ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
networks:
  npm:
    external: true
