services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:v0.6.37@sha256:16bb1eaa4e72d1091cd96709b038b5057f06963025f3a24acb17411bf0fee4af
    container_name: openwebui
    restart: unless-stopped
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434   # resolves via Docker DNS on the npm network
      - WEBUI_AUTH=False                      # set True in prod
      # - DEFAULT_MODELS=llama3.1:8b
    volumes:
      - ${DOCKER_DATA_DIR}/openwebui/data:/app/backend/data
      # - ${MEDIA_DIR}/openwebui:/app/backend/data
    networks:
      - npm

networks:
  npm:
    external: true