services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:0.7.1@sha256:d9c509017a46ac0713aa5d94101fd10ea53fbaf9582627216026666257b115ee
    container_name: openwebui
    restart: unless-stopped
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434   # resolves via Docker DNS on the npm network
      - WEBUI_AUTH=False                      # set True in prod
      # - DEFAULT_MODELS=llama3.1:8b
    volumes:
      - ${DOCKER_DATA_DIR}/openwebui/data:/app/backend/data
      # - ${MEDIA_DIR}/openwebui:/app/backend/data
    networks:
      - npm

networks:
  npm:
    external: true