services:
  ocis:
    image: owncloud/ocis:8.0.0@sha256:41e6d78f43507015e0c34b87bff49ae0744f261a92916f044e47d32067ff18ce
    container_name: owncloud
    restart: unless-stopped
    environment:
      OCIS_CONFIG_DIR: /etc/ocis
      PROXY_HTTP_ADDR: 0.0.0.0:9200
      PROXY_TLS: "false"
      OCIS_LOG_LEVEL: "debug"
      OCIS_INSECURE: "false"
      OCIS_JWT_SECRET: ${OCIS_JWT_SECRET}
      OCIS_TRANSFER_SECRET: ${OCIS_TRANSFER_SECRET}
      OCIS_URL: ${OCIS_URL} # e.g. https://cloud.example.com
      PROXY_OIDC_ISSUER: ${AUTHENTIK_ISSUER}
      PROXY_OIDC_INSECURE: "false"
      PROXY_AUTOPROVISION_ACCOUNTS: "true"
      PROXY_AUTOPROVISION_CLAIM_USERNAME: "preferred_username"
      PROXY_AUTOPROVISION_CLAIM_EMAIL: "email"
      PROXY_AUTOPROVISION_CLAIM_DISPLAYNAME: "name"
      PROXY_AUTOPROVISION_CLAIM_GROUPS: "groups"
      WEB_OIDC_AUTHORITY: ${AUTHENTIK_ISSUER}
      WEB_OIDC_CLIENT_SECRET: ${OIDC_WEB_CLIENT_SECRET}
      WEB_OIDC_CLIENT_ID: ${OIDC_WEB_CLIENT_ID}
      WEB_OIDC_SCOPE: "openid profile email offline_access"
      PROXY_CSP_CONFIG_FILE_LOCATION: /oidc/csp.yaml
      PROXY_CONFIG_FILE: /proxy-config/proxy.yaml
      PROXY_TRUSTED_PROXIES: "${NPM_IP},${HOST_IP},127.0.0.1,::1"
      IDM_ADMIN_PASSWORD: ${OCIS_ADMIN_PASSWORD}
      OCIS_MACHINE_AUTH_API_KEY: ${OCIS_MACHINE_AUTH_API_KEY}
      THUMBNAILS_FILESYSTEMSTORAGE_ROOT: /var/lib/ocis/thumbnails
      IDP_LDAP_BIND_DN: uid=idp,ou=sysusers,o=libregraph-idm
      IDM_IDPSVC_PASSWORD: ${IDM_IDPSVC_PASSWORD}         # seeds/updates uid=idp in IDM
      IDP_LDAP_BIND_PASSWORD: ${IDM_IDPSVC_PASSWORD}       # makes IDP use the same password
      # STORAGE_USERS_DRIVER: ocis
    volumes:
      - ${DOCKER_DATA_DIR:?set globally}/owncloud/config:/etc/ocis
      - ${MEDIA_DIR:?set globally}/documents:/var/lib/ocis
      - ${DOCKER_DATA_DIR:?set globally}/owncloud/thumbnails:/var/lib/ocis/thumbnails
      - ${DOCKER_DATA_DIR}/owncloud/oidc:/oidc
      - ${DOCKER_DATA_DIR}/owncloud/proxy-config:/proxy-config
    expose:
      - "9200"
    dns:
      - ${PIHOLE_IP}
      - 1.1.1.1    
    networks:
      - npm
    labels:
      - "homepage.group=Media"
      - "homepage.name=ownCloud"
      - "homepage.icon=owncloud"
      - "homepage.href=${OCIS_URL}"
      - "homepage.description=Files & sharing"
networks:
  npm:
    external: true