services:
  handbrake:
    tty: true
    container_name: handbrake
    devices:
      - /dev/dri/:/dev/dri/
    #    ports:
    #      - 5800:5800
    volumes:
      - ${DOCKER_DATA_DIR}/handbrake/config:/config:rw
      - ${OVERIG_DIR}:/storage:ro
      - ${MEDIA_DIR}:/mnt/media:ro
      - ${OVERIG_DIR}/prestage:/output:rw
    environment:
      - USER_ID=${PUID}
      - GROUP_ID=${PGID}
      - HANDBRAKE_GUI=1
      - TZ=Europe/Amsterdam
      - DARK_MODE=1
    image: jlesage/handbrake:v25.12.2@sha256:076eb72819500baf3bf8e06aa23ceaab6f52cab1fd436238c309725d7e69df35
    restart: unless-stopped
    networks:
      - npm
    labels:
      - traefik.enable=true
      - traefik.http.routers.handbrake.middlewares=authentik-forwardauth@docker
      - traefik.http.routers.handbrake.rule=Host(`handbrake.${DOMAIN}`)
      - traefik.http.routers.handbrake.entrypoints=websecure
      - traefik.http.routers.handbrake.tls=true
      - traefik.http.services.handbrake.loadbalancer.server.port=5800
networks:
  npm:
    external: true
