services:
  gotify:
    #    ports:
    #      - 80:80
    volumes:
      - ${DOCKER_DATA_DIR}/gotify/config:/app/data
    container_name: gotify
    image: gotify/server:2.9.0@sha256:4df8c1bb23646b8d8b308e881866474bfae4a9a5b3980e5047f87eb84017e8a0
    labels:
      - homepage.group=Infra
      - homepage.name=Gotify
      - homepage.icon=gotify.png
      - homepage.href=http://notifications.${DOMAIN}/
      - homepage.description=Notifications
      - homepage.widget.type=gotify
      - homepage.widget.url=http://gotify:80
      - homepage.widget.fields=["messages"]
      - homepage.widget.key=${GOTIFY_API}
      - traefik.enable=true
      - traefik.docker.network=npm
      - traefik.http.routers.gotify.rule=Host(`notifications.${DOMAIN}`)
      - traefik.http.routers.gotify.entrypoints=websecure
      - traefik.http.routers.gotify.tls=true
      - traefik.http.services.gotify.loadbalancer.server.port=80
    restart: unless-stopped
    networks:
      - npm
networks:
  npm:
    external: true