# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:2025.11.0@sha256:e28e239f55e648a9d32c8f065650acfe987ddebf1cd5f64f1c071e8716156ceb
    environment:
      TZ: Europe/Amsterdam
      FTLCONF_webserver_port: 8080
    volumes:
      - ${DOCKER_DATA_DIR}/pihole/etc-pihole:/etc/pihole
      - ${DOCKER_DATA_DIR}/pihole/etc-dnsmasq.d:/etc/dnsmasq.d
    networks:
      my-macvlan-net:
        ipv4_address: ${PIHOLE_IP}
      npm: null
    labels:
      - homepage.group=Infra
      - homepage.name=Pihole
      - homepage.icon=pi-hole.png
      - homepage.href=https://pihole.${DOMAIN}/admin
      - homepage.description=DNS sinkhole
      - homepage.widget.type=pihole
      - homepage.widget.url=http://pihole:8080
      - homepage.widget.key=${PIHOLE_API}
      - homepage.widget.version=6
      - traefik.enable=true
      - traefik.docker.network=npm
      - traefik.http.routers.pihole.rule=Host(`pihole.${DOMAIN}`)
      - traefik.http.routers.pihole.entrypoints=websecure
      - traefik.http.routers.pihole.tls=true
      - traefik.http.routers.pihole.tls.certresolver=letsencrypt
      - traefik.http.services.pihole.loadbalancer.server.port=8080
    restart: unless-stopped
networks:
  my-macvlan-net:
    external: true
  npm:
    external: true