services:
  nextcloud:
    image: linuxserver/nextcloud:32.0.3@sha256:eab1e4c2133139e54c3eb4027ff696dd9980c04aa2b28994b7bb9b59582a6516
    container_name: nextcloud
    restart: unless-stopped
    #    networks:
    #      - npm
    depends_on:
      - nextclouddb
    #    ports:
    #      - 443:443
    volumes:
      - ${DOCKER_DATA_DIR}/nextcloud/config:/config
      - ${MEDIA_DIR}/nextcloud:/data
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Amsterdam
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=${DB_PW}
      - MYSQL_HOST=nextclouddb
    networks:
      - npm
    labels:
      - homepage.group=Media
      - homepage.name=Nextcloud
      - homepage.icon=nextcloud.png
      - homepage.href=http://nextcloud.${DOMAIN}/
      - homepage.description=Open source content collaboration platform
      - homepage.widget.type=nextcloud
      - homepage.widget.fields=["freespace", "numfiles"]
      - homepage.widget.url=https://nextcloud:443
      - homepage.widget.key=${NEXTCLOUD_WIDGET_KEY}
  nextclouddb:
    image: linuxserver/mariadb:11.4.8@sha256:1fa6fab7aed1a1acbe4a60d62bf89e9ba4d1e16b331c8a64f80b14e0117ebd88
    container_name: nextclouddb
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PW}
      - TZ=Europe/Amsterdam
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PW}
    volumes:
      - ${DOCKER_DATA_DIR}/nextclouddb/config:/config
    restart: unless-stopped
    networks:
      - npm
  onlyoffice-document-server:
    container_name: onlyoffice-document-server
    image: onlyoffice/documentserver:9.2.0@sha256:b9813e15d95c172be422bf3a9ae0176cb1bf21bfb8bcf065e38dd9422fecd987
    restart: unless-stopped
    environment:
      - JWT_SECRET=${ONLYOFFICE_JWT_SECRET}
    expose:
      - '80'
      - '443'
    networks:
      - npm
    volumes:
      - document_data:/var/www/onlyoffice/Data
      - document_log:/var/log/onlyoffice
    labels:
      - traefik.enable=true
      - traefik.http.routers.documentserver.rule=Host(`documentserver.${DOMAIN}`)
      - traefik.http.routers.documentserver.entrypoints=websecure
      - traefik.http.routers.documentserver.tls=true
      - traefik.http.services.documentserver.loadbalancer.server.port=80
      - traefik.http.middlewares.documentserver-forward.headers.customRequestHeaders.X-Forwarded-Proto=https
      - traefik.http.middlewares.documentserver-forward.headers.customRequestHeaders.X-Forwarded-Host={host}
      - traefik.http.routers.documentserver.middlewares=documentserver-forward
networks:
  npm:
    external: true
volumes:
  document_data:
  document_log: