services:
  nextcloud:
    image: linuxserver/nextcloud:32.0.6@sha256:b1f12f0a01ceeb31a74056f7de1e76b9c60ac6c479d2f25b0388cb802630bdca
    container_name: nextcloud
    restart: unless-stopped
    depends_on:
      - nextclouddb
      - nextcloud-redis
    volumes:
      - ${DOCKER_DATA_DIR}/nextcloud/config:/config
      - ${MEDIA_DIR}/nextcloud:/data
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Amsterdam
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=${DB_PW}
      - MYSQL_HOST=nextclouddb
      - REDIS_HOST=nextcloud-redis
    networks:
      - npm
    labels:
      - homepage.group=Media
      - homepage.name=Nextcloud
      - homepage.icon=nextcloud.png
      - homepage.href=http://nextcloud.${DOMAIN}/
      - homepage.description=Open source content collaboration platform
      - homepage.widget.type=nextcloud
      - homepage.widget.fields=["freespace", "numfiles"]
      - homepage.widget.url=https://nextcloud:443
      - homepage.widget.key=${NEXTCLOUD_WIDGET_KEY}
  nextclouddb:
    image: linuxserver/mariadb:11.4.8@sha256:d70694effbcb6158a5b9c7e81548aeaad24f11958329de517c5efb664aeb6219
    container_name: nextclouddb
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PW}
      - TZ=Europe/Amsterdam
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PW}
    volumes:
      - ${DOCKER_DATA_DIR}/nextclouddb/config:/config
    restart: unless-stopped
    networks:
      - npm
  nextcloud-redis:
    image: redis:8.6.0-alpine@sha256:fd83658b0e40e2164617d262f13c02ca9ee9e1e6b276fd2fa06617e09bd5c780
    container_name: nextcloud-redis
    restart: unless-stopped
    command: redis-server --maxmemory 256mb --maxmemory-policy allkeys-lru
    networks:
      - npm
  onlyoffice-document-server:
    container_name: onlyoffice-document-server
    image: onlyoffice/documentserver:9.2.1@sha256:fd00acbbbde3d8b1ead9b933aafa7c2df77e62c48b1b171886e6bef343c13882
    restart: unless-stopped
    environment:
      - JWT_SECRET=${ONLYOFFICE_JWT_SECRET}
    expose:
      - '80'
      - '443'
    networks:
      - npm
    volumes:
      - document_data:/var/www/onlyoffice/Data
      - document_log:/var/log/onlyoffice
    labels:
      - traefik.enable=true
      - traefik.http.routers.documentserver.rule=Host(`documentserver.${DOMAIN}`)
      - traefik.http.routers.documentserver.entrypoints=websecure
      - traefik.http.routers.documentserver.tls=true
      - traefik.http.services.documentserver.loadbalancer.server.port=80
      - traefik.http.middlewares.documentserver-forward.headers.customRequestHeaders.X-Forwarded-Proto=https
      - traefik.http.middlewares.documentserver-forward.headers.customRequestHeaders.X-Forwarded-Host={host}
      - traefik.http.routers.documentserver.middlewares=documentserver-forward
networks:
  npm:
    external: true
volumes:
  document_data:
  document_log: