services:
  nextcloud:
    image: linuxserver/nextcloud:32.0.2@sha256:242f2034875c568592223d72ed2a155220f1b704abde150bde05d41e793abcb8
    container_name: nextcloud
    restart: unless-stopped
    #    networks:
    #      - npm
    depends_on:
      - nextclouddb
    #    ports:
    #      - 443:443
    volumes:
      - ${DOCKER_DATA_DIR}/nextcloud/config:/config
      - ${MEDIA_DIR}/nextcloud:/data
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Amsterdam
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=${DB_PW}
      - MYSQL_HOST=nextclouddb
    networks:
      - npm
    labels:
      - homepage.group=Media
      - homepage.name=Nextcloud
      - homepage.icon=nextcloud.png
      - homepage.href=http://nextcloud.${DOMAIN}/
      - homepage.description=Open source content collaboration platform
      - homepage.widget.type=nextcloud
      - homepage.widget.fields=["freespace", "numfiles"]
      - homepage.widget.url=https://nextcloud:443
      - homepage.widget.key=${NEXTCLOUD_WIDGET_KEY}
  nextclouddb:
    image: linuxserver/mariadb:11.4.8@sha256:195b6be2d3e2dd0744a54ba2542a136c572b3375bc7f019e37a505da5da3022b
    container_name: nextclouddb
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PW}
      - TZ=Europe/Amsterdam
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PW}
    volumes:
      - ${DOCKER_DATA_DIR}/nextclouddb/config:/config
    restart: unless-stopped
    networks:
      - npm
  onlyoffice-document-server:
    container_name: onlyoffice-document-server
    image: onlyoffice/documentserver:9.1.0@sha256:34b92f4a67bfd939bd6b75893e8217556e3b977f81e49472f7e28737b741ba1d
    restart: unless-stopped
    environment:
      - JWT_SECRET=${ONLYOFFICE_JWT_SECRET}
    expose:
      - '80'
      - '443'
    networks:
      - npm
    volumes:
      - document_data:/var/www/onlyoffice/Data
      - document_log:/var/log/onlyoffice
    labels:
      - traefik.enable=true
      - traefik.http.routers.documentserver.rule=Host(`documentserver.${DOMAIN}`)
      - traefik.http.routers.documentserver.entrypoints=websecure
      - traefik.http.routers.documentserver.tls=true
      - traefik.http.services.documentserver.loadbalancer.server.port=80
      - traefik.http.middlewares.documentserver-forward.headers.customRequestHeaders.X-Forwarded-Proto=https
      - traefik.http.middlewares.documentserver-forward.headers.customRequestHeaders.X-Forwarded-Host={host}
      - traefik.http.routers.documentserver.middlewares=documentserver-forward
networks:
  npm:
    external: true
volumes:
  document_data:
  document_log: