services:
  byparr:
    image: ghcr.io/thephaseless/byparr:2.1.0@sha256:01a46a2865d9a6db5eb8ead04ec0dd33b8fbe233e8565ae70b50d4cc0af4cfb0 
    container_name: byparr
    restart: unless-stopped
    shm_size: 2gb
    networks:
      - npm
networks:
  npm:
    external: true