x-lockdown: &lockdown
  # prevents write access to the image itself
  read_only: true
  # prevents any process within the container to gain more privileges
  security_opt:
    - "no-new-privileges=true"

services:
  qbittorrent:
    image: 11notes/qbittorrent:5.1.4@sha256:983212756ea3c778b5036d04f8e3d97ce18f1e1287516fa7cc35ab1e3cd926ec
    <<: *lockdown
    container_name: qbittorrent
    user: "568:568"
    command: ["/usr/local/bin/qbittorrent", "--profile=/config"]
    environment:
      - TZ=Europe/Amsterdam
      - UMASK=002
      - WEBUI_PORTS=8080/tcp,8080/udp
      - LIBTORRENT=v1
    volumes:
      - qbittorrent.etc:/qbittorrent/etc
      - qbittorrent.var:/qbittorrent/var
      - ${DOCKER_DATA_DIR}/qbittorrent/config:/config
      - ${MEDIA_DIR}/downloads/torrents:/media/downloads/torrents
      - ${OVERIG_DIR}/prestage:/overig/prestage
    ports:
      - 6881:6881/tcp
      - 6881:6881/udp
    labels:
      - homepage.group=Infra
      - homepage.name=Qbittorrent
      - homepage.icon=qbittorrent.png
      - homepage.href=http://qbittorrent.$DOMAIN/
      - homepage.description=Torrent client
      - homepage.widget.type=qbittorrent
      - homepage.widget.url=http://qbittorrent:8080
      - traefik.enable=true
      - traefik.http.routers.qbittorrent-api.rule=Host(`qbittorrent.${DOMAIN}`) && PathPrefix(`/api`)
      - traefik.http.routers.qbittorrent-api.entrypoints=websecure
      - traefik.http.routers.qbittorrent-api.priority=100
      - traefik.http.routers.qbittorrent-api.tls=true
      - traefik.http.routers.qbittorrent-api.service=qbittorrent
      - traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.${DOMAIN}`)
      - traefik.http.routers.qbittorrent.entrypoints=websecure
      - traefik.http.routers.qbittorrent.priority=99
      - traefik.http.routers.qbittorrent.tls=true
      - traefik.http.routers.qbittorrent.middlewares=authentik-forwardauth@docker
      - traefik.http.routers.qbittorrent.service=qbittorrent
      - traefik.http.services.qbittorrent.loadbalancer.server.port=8080
    restart: unless-stopped
    networks:
      - npm
  sabnzbd:
    image: 11notes/sabnzbd:4.5.5@sha256:8d72fc9b9544708e9a67d365d19929b2887beadbe30b2a12961fd3c74a8281a4
    <<: *lockdown
    container_name: sabnzbd
    user: "568:568"
    command: ["/usr/local/bin/python", "/opt/sabnzbd/SABnzbd.py", "--config-file", "/sabnzbd/etc/sabnzbd.ini", "--server", "0.0.0.0:8080", "--browser", "0", "--console", "--logging", "1", "--disable-file-log"]
    environment:
      - TZ=Europe/Amsterdam
    volumes:
      - sabnzbd.etc:/sabnzbd/etc
      - ${MEDIA_DIR}/downloads/usenet:/media/downloads/usenet
      - ${OVERIG_DIR}/prestage:/overig/prestage
    ports:
      - 8080:8080
    tmpfs:
      # required for read-only image
      - "/tmp:uid=568,gid=568"
    labels:
      - homepage.group=Infra
      - homepage.name=SABnzbd
      - homepage.icon=sabnzbd.png
      - homepage.href=http://sabnzbd.$DOMAIN/
      - homepage.description=Usenet client
      - homepage.widget.type=sabnzbd
      - homepage.widget.url=http://sabnzbd:8080
      - homepage.widget.key=${SABNZBD_API}
      - traefik.enable=true
      - traefik.http.routers.sabnzbd-api.rule=Host(`sabnzbd.${DOMAIN}`) && PathPrefix(`/api`)
      - traefik.http.routers.sabnzbd-api.entrypoints=websecure
      - traefik.http.routers.sabnzbd-api.priority=100
      - traefik.http.routers.sabnzbd-api.tls=true
      - traefik.http.routers.sabnzbd-api.service=sabnzbd
      - traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.${DOMAIN}`)
      - traefik.http.routers.sabnzbd.entrypoints=websecure
      - traefik.http.routers.sabnzbd.priority=99
      - traefik.http.routers.sabnzbd.tls=true
      - traefik.http.routers.sabnzbd.middlewares=authentik-forwardauth@docker
      - traefik.http.routers.sabnzbd.service=sabnzbd
      - traefik.http.services.sabnzbd.loadbalancer.server.port=8080
    restart: unless-stopped
    networks:
      - npm
  pyload:
    image: linuxserver/pyload-ng:0.5.0@sha256:de3f4b32ad8823641ddbd5b8ed0b3257c543bf19cf590267f76d86d38c103552
    container_name: pyload
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Amsterdam
    volumes:
      - ${DOCKER_DATA_DIR}/pyload/config:/config
      - ${MEDIA_DIR}/downloads/pyload:/downloads
    #    ports:
    #      - 8000:8000
    #      - 9666:9666 #optional
    restart: unless-stopped
    networks:
      - npm
    labels:
      - homepage.group=Infra
      - homepage.name=Pyload
      - homepage.icon=pyload.png
      - homepage.href=http://pyload.$DOMAIN/
      - homepage.description=Free and Open Source download manager
      - homepage.widget.type=pyload
      - homepage.widget.fields=["speed", "active", "queue"]
      - homepage.widget.url=http://pyload:8000
      - homepage.widget.username=pyload
      - homepage.widget.password=${PYLOAD_PW}
      - traefik.enable=true
      - traefik.http.routers.pyload-api.rule=Host(`pyload.${DOMAIN}`) && PathPrefix(`/api`)
      - traefik.http.routers.pyload-api.entrypoints=websecure
      - traefik.http.routers.pyload-api.priority=100
      - traefik.http.routers.pyload-api.tls=true
      - traefik.http.routers.pyload-api.service=pyload
      - traefik.http.routers.pyload.rule=Host(`pyload.${DOMAIN}`)
      - traefik.http.routers.pyload.entrypoints=websecure
      - traefik.http.routers.pyload.priority=99
      - traefik.http.routers.pyload.tls=true
      - traefik.http.routers.pyload.middlewares=authentik-forwardauth@docker
      - traefik.http.routers.pyload.service=pyload
      - traefik.http.services.pyload.loadbalancer.server.port=8000
networks:
  npm:
    external: true
volumes:
  sabnzbd.etc:
    driver: local
  qbittorrent.etc:
    driver: local
  qbittorrent.var:
    driver: local