http:
  routers:
    ha:
      rule: "Host(`hass.{{ env "DOMAIN" }}`)"
      entryPoints:
        - websecure
      service: ha
      middlewares:
        - ha-sec

  services:
    ha:
      loadBalancer:
        servers:
          - url: "http://{{ env "HASS_IP" }}:8123"

  middlewares:
    ha-sec:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        contentTypeNosniff: true
        referrerPolicy: "no-referrer"
        customRequestHeaders:
          X-Forwarded-Proto: "https"