services:
  spotweb:
    image: jgeusebroek/spotweb:latest@sha256:2888a811f48a0d86ec8e9a3a47ba6d33c11f6b4f01e9ec5aeec6f24fb25e1588
    container_name: spotweb
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - GUID=${GUID}
      - TZ=Europe/Amsterdam
      - SPOTWEB_DB_TYPE=pdo_mysql
      - SPOTWEB_DB_HOST=spotweb_db
      - SPOTWEB_DB_PORT=3306
      - SPOTWEB_DB_NAME=spotweb
      - SPOTWEB_DB_USER=spotweb
      - SPOTWEB_DB_PASS=${MYSQL_PASSWORD}
      - SPOTWEB_CRON_RETRIEVE=* */2 * * *
    depends_on:
      - spotweb_db
    #    ports:
    #     - 81:80
    volumes:
      - ${DOCKER_DATA_DIR}/spotweb/config:/config
    networks:
      - npm
    labels:
      - homepage.group=Media
      - homepage.name=Spotweb
      - homepage.icon=https://raw.githubusercontent.com/spotweb/spotweb/refs/heads/develop/images/spotnet.gif
      - homepage.href=https://spotweb.${DOMAIN}/
      - homepage.description=Decentralized alternative to usenet indexing
      - traefik.enable=true
      - traefik.docker.network=npm
      - traefik.http.routers.spotweb.rule=Host(`spotweb.${DOMAIN}`)
      - traefik.http.routers.spotweb.entrypoints=websecure
      - traefik.http.routers.spotweb.tls=true
      - traefik.http.services.spotweb.loadbalancer.server.port=80
  spotweb_db:
    image: linuxserver/mariadb:11.4.8@sha256:1fa6fab7aed1a1acbe4a60d62bf89e9ba4d1e16b331c8a64f80b14e0117ebd88
    container_name: spotwebdb
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - MYSQL_ROOT_PASSWORD=spotweb
      - TZ=Europe/Amsterdam
      - MYSQL_DATABASE=spotweb
      - MYSQL_USER=spotweb
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ${DOCKER_DATA_DIR}/spotwebdb/config:/config
    networks:
      - npm
#    ports:
#     - 3306:3306
networks:
  npm:
    external: true
