services:
  slskd:
    image: slskd/slskd:0.24.4@sha256:4031fc99b824ed2eec3bdbd92914fe6071539f3f71f0742052276afc2c69353d
    container_name: slskd
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=Europe/Amsterdam
      - SLSKD_REMOTE_CONFIGURATION=true
    volumes:
      - ${DOCKER_DATA_DIR}/slskd:/app
      - ${MEDIA_DIR}/downloads/slskd:/media/downloads/slskd
      - ${MEDIA_DIR}/music:/music:ro
    ports:
      - 50300:50300
#      - 5030:5030
#      - 5031:5031
    labels:
      - homepage.group=Media
      - homepage.name=Slskd
      - homepage.icon=slskd.png
      - homepage.href=http://slskd.${DOMAIN}/
      - homepage.description=Soulseek client
      - traefik.enable=true
      - traefik.docker.network=npm
      - traefik.http.routers.slskd.rule=Host(`slskd.${DOMAIN}`)
      - traefik.http.routers.slskd.entrypoints=websecure
      - traefik.http.routers.slskd.tls=true
      - traefik.http.services.slskd.loadbalancer.server.port=5030
    restart: unless-stopped
    user: 568:568
    networks:
      my-macvlan-net:
        ipv4_address: ${SLSKD_IP}
      npm: null
networks:
  npm:
    external: true
  my-macvlan-net:
    external: true