services:
  spotizerr:
    container_name: spotizerr
    volumes:
      - ${DOCKER_DATA_DIR}/spotizerr/data:/app/data
      - ${DOCKER_DATA_DIR}/config:/app/config
      - ${DOCKER_DATA_DIR}/spotizerr/creds:/app/creds
      - ${DOCKER_DATA_DIR}/spotizerr/logs:/app/logs
      - ${DOCKER_DATA_DIR}/spotizerr/cache:/app/cache
      - ${DEEMIX_DIR}:/app/downloads
    image: lavaforge.org/spotizerr/spotizerr:latest@sha256:80e7f932f7e67770dc715f434822459170a4682254bbc8e7bcf3fa4b35a9980c
#    ports:
#      - 7171:7171
    restart: unless-stopped
    networks:
      - npm
    environment:
      - PUID=${PUID}  # Replace with your desired user ID  | Remove both if you want to run as root (not recommended, might result in unreadable files)
      - PGID=${PGID}  # Replace with your desired group ID | The user must have write permissions in the volume mapped to /app/downloads
      - UMASK=${UMASK} # Optional: Sets the default file permissions for newly created files within the container.
      - TZ=Europe/Amsterdam
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_DB=${REDIS_DB:-0}
      - REDIS_PASSWORD=${REDIS_PASSWORD}  # Optional, Redis AUTH password. Leave empty if not using authentication
      - REDIS_URL=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}
      - REDIS_BACKEND=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}
      - EXPLICIT_FILTER=${EXPLICIT_FILTER} # Set to true to filter out explicit content
      - ENABLE_AUTH=${ENABLE_AUTH} # Set to true to enable authentication
      - JWT_SECRET=${JWT_SECRET} # Set to a random string for production
      - JWT_EXPIRATION_HOURS=${JWT_EXPIRATION_HOURS} # Set to 24 for 24 hours
      - DEFAULT_ADMIN_USERNAME=${DEFAULT_ADMIN_USERNAME}
      - DEFAULT_ADMIN_PASSWORD=${DEFAULT_ADMIN_PASSWORD}  
    labels:
      - homepage.group=Media
      - homepage.name=Spotizerr
      - homepage.icon=spotify.png
      - homepage.href=https://spotizerr.${DOMAIN}/
      - homepage.description=Music downloader which combines Spotify's catalog
        and Deezer's quality
      - traefik.enable=true
      - traefik.docker.network=npm
      - traefik.http.routers.spotizerr.rule=Host(`spotizerr.${DOMAIN}`)
      - traefik.http.routers.spotizerr.entrypoints=websecure
      - traefik.http.routers.spotizerr.tls=true
      - traefik.http.services.spotizerr.loadbalancer.server.port=7171
    depends_on:
      - spotizerr-redis
    user: "568:568"
  spotizerr-redis:
    image: redis:alpine@sha256:28c9c4d7596949a24b183eaaab6455f8e5d55ecbf72d02ff5e2c17fe72671d31
    container_name: spotizerr-redis
    restart: unless-stopped
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - redis-data:/data
    command: redis-server --requirepass ${REDIS_PASSWORD} --appendonly yes
    networks:
      - npm
volumes:
  redis-data:
    driver: local
networks:
  npm:
    external: true

