services:
  cloudcmd:
    container_name: cloudcmd
    volumes:
      - ${MEDIA_DIR}:/media
      - ${OVERIG_DIR}:/overig
      - ${DEEMIX_DIR}:/deemix
    image: coderaiser/cloudcmd:19.1.16@sha256:a001a35088cc856bc3c8df33da6527abf5a235c0f4da03c488944e8300fd2fea
    environment:
      - CLOUDCMD_THEME=dark
    labels:
      - homepage.group=Infra
      - homepage.name=Cloudcommander
      - homepage.icon=cloudcmd.png
      - homepage.href=https://cloudcmd.${DOMAIN}/
      - homepage.description=Filemanager
      - traefik.enable=true
      - traefik.http.routers.cloudcmd.rule=Host(`cloudcmd.${DOMAIN}`)
      - traefik.http.routers.cloudcmd.entrypoints=websecure
      - traefik.http.routers.cloudcmd.middlewares=authentik-forwardauth@docker
      - traefik.http.routers.cloudcmd.tls=true
      - traefik.http.services.cloudcmd.loadbalancer.server.port=8000
    restart: unless-stopped
    user: ${PUID}:${PGID}
    networks:
      - npm
networks:
  npm:
    external: true