services:
  cloudcmd:
    container_name: cloudcmd
    volumes:
      - ${MEDIA_DIR}:/media
      - ${OVERIG_DIR}:/overig
      - ${DEEMIX_DIR}:/deemix
    image: coderaiser/cloudcmd:19.0.17@sha256:83370d5c7a47cc917e48d1b2a6d7f844f2312240a5e9b5f31008ef9a5682ad07
    environment:
      - CLOUDCMD_THEME=dark
    labels:
      - homepage.group=Infra
      - homepage.name=Cloudcommander
      - homepage.icon=cloudcmd.png
      - homepage.href=https://cloudcmd.${DOMAIN}/
      - homepage.description=Filemanager
      - traefik.enable=true
      - traefik.http.routers.cloudcmd.rule=Host(`cloudcmd.${DOMAIN}`)
      - traefik.http.routers.cloudcmd.entrypoints=websecure
      - traefik.http.routers.cloudcmd.middlewares=authentik-forwardauth@docker
      - traefik.http.routers.cloudcmd.tls=true
      - traefik.http.services.cloudcmd.loadbalancer.server.port=8000
    restart: unless-stopped
    user: ${PUID}:${PGID}
    networks:
      - npm
networks:
  npm:
    external: true